<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="image.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
  <script src="https://use.fontawesome.com/f33be829a6.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-storage.js"></script>
  
</head>

<body>
  <!-- <header>
    <a href="#" class="logo">LOGO</a>
    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="#" class="active">About</a></li>
        <li><a href="#">Login</a></li>
    </nav>
    <div class="clearfix"></div>
  </header> -->
  <div class="logo2">
    <h1>Punch Counter</h1>
  </div>
  <section class="lbox">
    <div class="containers">
      <div class="wrapper">
        <div class="image"></div>
        <div class="content">
          <div class="icon">
            <img src="./plsu.png" class="plus" alt="">
          </div>
          <div class="text textl">Upload video</div>
        </div>
        <div class="file-name">File Name Here</div>
      </div>
      <input type="file" id="default-btn" hidden>
      <button id="custom-btn" class="upl-btn up">Choose a file</button>
    </div>
  </section>

  <div class="Layer_2"></div>
  <div class="Layer_3"></div>
  <div class="Layer_4"></div>

  <section class="rbox">
    <div class="containers">
      <div class="wrapper wp2">
        <div class="image image2">
        </div>
        <div class="content">
          <div class="icon">
            <img src="./download.png" class="download" alt="">
          </div>
          <div class="text textr">Download</div>
        </div>
        <div class="file-name">File Name Here</div>
      </div>
      <input type="file" id="download-btn" hidden>
      <button id="custom-btn" class="upl-btn dw">Download</button>
    </div>
  </section>
  <a class="logout" href="/sessionLogout">Log out</a>

</body>

<script src="./image.js"></script>

</html>